.review-container {
  display: flex;
  flex-direction: column;
}

.main-input {
  display: flex;
  margin-left: 50px;
}

.lirev {
  align-items: center;
  justify-content: flex-start;
  display: flex;
}

.input-review {
  margin-left: 20px;
  font-size: 20px;
  text-indent: 10px;
  height: 6rem;
  width: 18rem;
  border-radius: 12px;
}

.userCol {
  text-align: start;
}

.btnrev {
  margin-left: 20px;
  border-radius: 12px;
  width: 18rem;
  background-color: orange;
  border: none;
  color: black;
  height: 33px;
  margin-top: 6px;
}

.cardBintang {
  justify-content: center;
}

.bintang {
  margin-left: 20px;
  margin-top: -9px;
}

.main-review {
  height: 700px;
  margin-top: 50px;
  margin-left: 50px;
}

.user-container {
  display: flex;
  flex-direction: column;
}

.foto1 {
  height: 70px;
  width: 70px;
}

.nama-user {
  margin-left: 20px;
  font-weight: bolder;
  margin-top: -6px;
}

.user-review {
  margin-left: 20px;
  margin-top: -10px;
}

.form-column {
  display: flex;
  flex-direction: column;
}

.headline {
  margin-top: 20px;
  height: 30px;
  margin-left: 20px;
}

.btn-review {
  margin-top: 20px;
  margin-left: 50px;
}
